.svc-toolbox__item:focus,
.svc-toolbox__tool--has-subitems:hover>.svc-toolbox__tool-content>.svc-toolbox__item,
.svc-toolbox__item:hover {
    background: transparent !important;
    box-shadow: none !important;
}

.svc-toolbox__item-submenu-button {
    display: none !important;
}

.svc-toolbox__category {
    gap: 0.5rem !important;
}

.svc-toolbox__category-header {
    box-shadow: none !important;
}

.svc-toolbox__category-header span {
    font-weight: 500 !important;
    font-size: 0.875rem !important;
    line-height: 1.5rem !important;
    color: rgba(128, 128, 128, 0.568) !important;
}

.svc-toolbox__category-items {
    display: flex !important;
    flex-wrap: wrap !important;
    /* Optional: wrap to new line if too many items */
    gap: 10px !important;
    /* Add spacing between items if desired */
}